<!doctype html>
<html>

<head>
  <title>Home</title>
  <script type="text/javascript" charset="utf-8">
    const socket = new WebSocket('ws://' + location.host + '/get-result');

    socket.onopen = () => console.log("Connection opened through socket " + location.host + "/get-result")

    socket.onmessage = (event) => {
      // p = document.createElement("p");
      // p.text = event.data
      // document.getElementsByTagName("body")[0].append(p);
      console.log(event.data)
    }
  </script>
</head>

<body>
  <p>HI</p>
</body>

</html>